#buttonDataset a:link, a:visited {
    background-color: rgb(1, 119, 187);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
  }
  
#buttonDataset a:hover, a:active {
  background-color: rgb(2, 54, 85)d;
}

#buttonDownload a:link, a:visited {
  background-color: rgb(17, 163, 119);
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

#buttonDelete a:link, a:visited {
  background-color: rgb(252, 35, 7);
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  