extends ./Main_Layout.pug

block styles_1
    link(rel='stylesheet' href="/css/glow.css")
block content 
  br
  br
  div(class="main_image")
    img.center(src='img/Home.jpg')
  div(class="bg-text")
    br
    br
    div(class="glow")
      h1 The NexT AI
    br
    br
    div(class="typewrite")
      a.typewrite(href='', data-period='600', data-type='[ "Artificial Intelligence", "Data Science", "Machine Learning", "Computer Vision" ]')
        span.wrap
  h3(style="color:white; text-shadow: 1px 1px 2px black, 0 0 25px silver, 0 0 5px darkblue;") For those who CODE ... For those who THINK Smart ... For those who UNDERSTAND Machines !!!
  .content
    div(style="margin-left: auto; margin-right: auto; width: 70em;")
      h2(style="color:black; text-shadow: 1px 1px 2px silver, 0 0 25px silver, 0 0 5px grey;") We're The Next AI, We're here to help you Upload and Download AI-related Projects and Datasets. This site also has a User's section where you can manage your own Projects and Datasets and share with potential recruiters !!
    p.blocktext
      | Artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals. Leading AI textbooks define the field as the study of "intelligent agents": any device that perceives its environment and takes actions that maximize its chance of successfully achieving its goals.[1] Colloquially, the term "artificial intelligence" is often used to describe machines (or computers) that mimic "cognitive" functions that humans associate with the human mind, such as "learning" and "problem solving".[2
    p.blocktext
      | As machines become increasingly capable, tasks considered to require "intelligence" are often removed from the definition of AI, a phenomenon known as the AI effect.[3] A quip in Tesler's Theorem says "AI is whatever hasn't been done yet."[4] For instance, optical character recognition is frequently excluded from things considered to be AI[5] , having become a routine technology.[6] Modern machine capabilities generally classified as AI include successfully understanding human speech,[7] competing at the highest level in strategic game systems (such as chess and Go),[8] autonomously operating cars, intelligent routing in content delivery networks, and military simulations.
