extends ./Main_Layout.pug

block styles_1
    link(rel='stylesheet' href="/css/index.css")
    link(rel='stylesheet' href="/css/table.css")
    link(rel='stylesheet' href="/css/link.css")
block script_1
    script(src="/js/bootstrap.min.js")
block content
    br
    br 
    br
    br
    br
    
    div(class="Users_heading" style="text-align: center")
        h1(style="color:white; text-shadow: 1px 1px 2px black, 0 0 25px silver, 0 0 5px darkblue;") Users Information 
        br
        div(id="buttonDataset")
            a(href="/create" style="text-align: center;") New User
    br
    hr
    div(class="card-deck")
        each sh in variables.users 
            div(class="col-xs-12 col-md-4 col-lg-3")
                div(class="shadow p-3 mb-5 bg-white rounded")
                    a(href="/users/" + sh._id)
                        div(class="card")
                            img(class="card-img-top" src='/img/users/' + sh.image alt="sh.image" style="height:250px;width:100%;")
                            div(class="card-body" style="text-align: center")
                                h5(class="card-title")= sh.name
                                h6(class="card-text")= sh.desig 
                                br
                                a(href="/login/" + sh._id class="button" style="padding: 9px 28px;") Login   
                                a(href="/delete/" + sh._id) Delete
                                